body {
    background-color: #f0f0f0; /* Color de fondo pastel */
    font-family: Arial, sans-serif;
    color: #333; /* Color de texto principal */
/*Logo etiquetas */
.logo {
    width: 300px;
    height: 150;
    margin-bottom: 30px;
}
/*Mover hacia la izquierda*/
.izq{
    margin-left:-200px;
}
/*Mover hacia el centro*/
.cent{
    text-align: center;
}
/*Color azul al pasar el cursor*/
 .enlace:hover{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#login-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3498db;
    color: black;
    padding: 50px;
    text-align: center;
  }