/* Estilo general del cuerpo de la página */
body {
    background-color: #f0f0f0; /* Color de fondo pastel */
    font-family: Arial, sans-serif;
    color: #333; /* Color de texto principal */
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0%; /* Elimina el relleno predeterminado */
    width: 100%;
  }

/* Estilo del encabezado de la página */
.navbar {
    background-color: #3498db; /* Azul pastel para la barra de navegación */
    margin-bottom: 30px;
}

.navbar-brand, .navbar-nav .nav-link {
    color: #333; /* Texto en la barra de navegación en blanco */
}

/* Estilo del carousel */
.carousel-item {
    background-color: #ffffff; /* Fondo blanco para los elementos del carrusel */
}
.carousel-caption h5 {
    color: black; /* Cambia 'blue' al color que desees */
}

/* Estilo de los títulos */
h2 {
    color: #333; /* Color de texto principal */
}

/* Estilo del footer */
footer {
    background-color: #333; /* Fondo negro para el footer */
}

footer a {
    color: #fff; /* Enlaces en el footer en blanco */
}

/* Estilo de los enlaces en el cuerpo de la página */
a {
    color: #3498db; /* Color azul pastel para enlaces */
}

a:hover {
    color: #2980b9; /* Color azul pastel más oscuro al pasar el ratón */
}
Margen {
    margin: auto;
    height: 100vh;
}
/* Estilos para el mensaje emergente (popup) */
#cookie-banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a237e;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
  }

  .color{
    color: white;
  }
  
  #accept-cookies {
    background-color: #5bc0de;
    color:white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
.publ {
    background-color: #4fbba5;
}

.centrar {
    text-align: center;
}
/* Herraminetas */
.espacio {
    margin-top: 30px; 
  }

  .espacio1 {
    margin-top: 10px; 
  }

 .derecha {
    margin-left: 750px;
 } 

 .derecha2 {
    margin-left: 820px;
 }  
 
.colorT{
    background-color: #F6C3AF;
    margin-bottom: 20px;
}

.text {
    text-align: justify;
}